.header {
  display: grid;
  position: fixed;
  width: 100%;
  grid-template-columns: 70px 6fr 3fr 30px;
  justify-items: center;
  align-items: center;
  height: 70px;
  background-color: #434343;
  color: #fff5dc;
  box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.5);
}
.header h1 {
  font-family: "Rubik";
  justify-self: left;
  font-size: 2rem;
  margin: 0;
  padding: 0;
  font-weight: 100;
  letter-spacing: 0.5rem;
}
.header a {
  font-family: "Inter";
}
.header .headerLogo {
  cursor: pointer;
}
.header .headerLinks {
  width: 400px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}
.header .headerLinksCont {
  display: flex;
  width: 100%;
  flex-direction: column;
  align-items: flex-end;
  justify-content: center;
}
.header .miniMenu {
  height: 32px;
  width: 35px;
  cursor: pointer;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.header .miniMenu .threeBarMenuActive {
  width: 0;
  position: relative;
}
.header .miniMenu .threeBarMenuActive::after {
  transform: rotate(45deg);
}
.header .miniMenu .threeBarMenuActive::before {
  transform: rotate(-45deg);
}
.header .miniMenu .threeBarMenuInactive {
  width: 25px;
}
.header .miniMenu .threeBarMenuInactive::after {
  transform: translateY(-15px) rotate(0deg);
}
.header .miniMenu .threeBarMenuInactive::before {
  transform: translateY(15px) rotate(0deg);
}
.header .miniMenu .threeBarMenu {
  background-color: #fff5dc;
  height: 2px;
  position: relative;
  transition: 0.2s all;
  transform-origin: center;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 10px;
}
.header .miniMenu .threeBarMenu::after {
  content: "";
  display: block;
  background-color: #fff5dc;
  height: 2px;
  width: 35px;
  border-radius: 10px;
  position: absolute;
  transition: 0.2s all;
}
.header .miniMenu .threeBarMenu::before {
  content: "";
  display: block;
  background-color: #fff5dc;
  height: 2px;
  width: 35px;
  border-radius: 10px;
  position: absolute;
  transition: 0.2s all;
}
.header .expandMenuActive {
  transform: translateX(100%);
}
.header .expandMenu {
  position: absolute;
  top: 100%;
  right: 0;
  background-color: #434343;
  width: min(600px, 100%);
  min-height: calc(100vh - 70px);
  padding: 0;
  margin: 0;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: space-between;
  transition: 0.2s all ease;
  border-top: 1px solid gray;
}
.header .expandMenu div {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
}
.header .expandMenu a {
  margin: 15px;
  margin-left: 30px;
  font-size: 3rem;
  text-align: left;
  position: relative;
  z-index: 1;
  transition: 0.2s all;
}
.header .expandMenu a:hover {
  transform: translateX(10px);
}
.header .expandMenu a:hover::after {
  transform: rotate(45deg);
  opacity: 1;
}
.header .expandMenu a::after {
  transition: 0.2s all ease;
  content: "";
  left: calc(100% + 15px);
  top: calc(60% - 10px);
  width: 10px;
  height: 10px;
  background-image: url("./images/arrow.svg");
  position: absolute;
  display: block;
  transform: rotate(45deg);
  opacity: 0;
}
.header .expandMenu .signin {
  margin-bottom: 30px;
}

.body {
  position: absolute;
  top: 70px;
  width: 100%;
  z-index: -1;
  text-align: right;
}
.body .bodyText {
  font-family: "Archivo";
  color: black;
  font-size: 1.1rem;
  padding: 20px;
}
.body .ctaButton {
  padding: 3rem;
  padding-top: 0.75rem;
  padding-bottom: 0.75rem;
  margin: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #424242;
  color: #fff5dc;
  border-radius: 7px;
  font-size: 2rem;
  font-family: "IBM Plex Sans";
  font-weight: bold;
  transition: 0.2s all ease;
  text-align: center;
}
@media screen and (max-width: 1000px) {
  .body .ctaButton {
    margin-bottom: 20px;
  }
}
.body .ctaButton:hover {
  background-color: #292929;
}
.body .titlePage {
  height: 800px;
  display: flex;
  justify-content: center;
  align-items: center;
}
@media screen and (max-width: 1000px) {
  .body .titlePage {
    flex-direction: column;
  }
}
.body .titlePage .titlePageTextCont {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  justify-content: space-between;
  text-align: right;
  height: 450px;
}
@media screen and (max-width: 1000px) {
  .body .titlePage .titlePageTextCont {
    align-items: center;
    text-align: center;
    padding-bottom: 30px;
  }
}
.body .titlePage .titlePageTextCont .titlePageTextContInner {
  margin-top: 40px;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  justify-content: center;
}
.body .titlePage .titlePageTextCont .titlePageTextContInner p {
  font-family: "Rubik";
  margin: 5px;
  letter-spacing: 0.15rem;
  width: 100%;
  padding: 20px;
  margin-top: 0;
  margin-bottom: 0;
  padding-top: 0;
  padding-bottom: 0;
}
.body .titlePage .titlePageTextCont .titlePageTextContInner .titleSecondary {
  font-size: 2rem;
}
.body .titlePage .titlePageTextCont .titlePageTextContInner .titlePrimary {
  font-size: 2.5rem;
  font-weight: bold;
  color: #195f0e;
}
.body .communityOuterCont {
  background-color: #88ce7d;
  height: calc(1200px + 7.5vw);
  clip-path: polygon(0 0, 100% 7.5vw, 100% 100%, 0 100%);
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
}
.body .communityInnerCont {
  background-color: #469838;
  height: calc(1200px + 3.75vw);
  clip-path: polygon(0 0, 100% 7.5vw, 100% 100%, 0 100%);
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
}
.body .community {
  height: 1200px;
  background-color: #195f0e;
  clip-path: polygon(0 0, 100% 7.5vw, 100% 100%, 0 100%);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.body .community .ctaButton {
  margin: 0;
}
.body .content {
  width: min(90%, 1200px);
  padding: 20px;
}
@media screen and (max-width: 1000px) {
  .body .content {
    margin-top: 4rem;
  }
}
.body .content h1 {
  text-align: left;
  padding: 25px;
  font-size: min(3rem, 8vw);
  letter-spacing: 0.2rem;
  padding-top: 20px;
  padding-bottom: 20px;
}
.body .ctaSectionContentContainer {
  display: flex;
  flex-direction: row;
  height: 450px;
}
@media screen and (max-width: 1000px) {
  .body .ctaSectionContentContainer {
    flex-direction: column;
    height: 1000px;
  }
}
.body .ctaSectionTitle {
  color: #fff5dc;
  font-family: "Inter";
  font-weight: bold;
  border-left: 2px solid #fff5dc;
}
.body .ctaSectionContent {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: flex-start;
  width: min(95%, 600px);
}
@media screen and (max-width: 1000px) {
  .body .ctaSectionContent {
    align-items: center;
  }
}
.body .ctaSectionContent strong {
  color: #1c1c1c;
  font-weight: bold;
}
.body .ctaSectionContent div {
  flex-direction: column;
  display: flex;
  align-items: flex-start;
  justify-content: space-evenly;
  padding-bottom: 4rem;
  width: min(100%, 500px);
}
.body .ctaSectionContent div p {
  text-align: left;
  color: #fff5dc;
  font-family: "Archivo";
  padding: 0;
  line-height: 1.8;
  font-size: 1rem;
}
.body .accountableOuterCont {
  background-color: #a57f4a;
  height: calc(1300px + 7.5vw);
  clip-path: polygon(0 0, 100% 7.5vw, 100% 100%, 0 100%);
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  transform: translateY(-7.5vw);
}
.body .accountableInnerCont {
  background-color: #916b36;
  height: calc(1300px + 3.75vw);
  clip-path: polygon(0 0, 100% 7.5vw, 100% 100%, 0 100%);
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
}
.body .accountable {
  background-color: #7d5722;
  clip-path: polygon(0 0, 100% 7.5vw, 100% 100%, 0 100%);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 1300px;
}
@media screen and (min-width: 1000px) {
  .body .accountable .ctaSectionContentContainer {
    align-items: center;
  }
}
@media screen and (min-width: 1000px) {
  .body .accountable .ctaButton {
    margin: 0;
  }
}
.body .educatedOuterCont {
  background-color: #9cc6f5;
  height: calc(1200px + 7.5vw);
  clip-path: polygon(0 0, 100% 7.5vw, 100% 100%, 0 100%);
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  transform: translateY(-15vw);
}
.body .educatedInnerCont {
  background-color: #92bceb;
  height: calc(1200px + 3.75vw);
  clip-path: polygon(0 0, 100% 7.5vw, 100% 100%, 0 100%);
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
}
.body .educated {
  background-color: #88b2e1;
  clip-path: polygon(0 0, 100% 7.5vw, 100% 100%, 0 100%);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 1200px;
}
@media screen and (min-width: 1000px) {
  .body .educated .ctaButton {
    margin: 0;
  }
}
@media screen and (min-width: 1000px) {
  .body .educated .ctaSectionContentContainer {
    align-items: center;
  }
}
.body .missionOuterCont {
  background-color: #bcc4cc;
  height: calc(1200px + 7.5vw);
  clip-path: polygon(0 0, 100% 7.5vw, 100% 100%, 0 100%);
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  transform: translateY(-22.5vw);
}
.body .missionInnerCont {
  background-color: #a8b0b8;
  height: calc(1200px + 3.75vw);
  clip-path: polygon(0 0, 100% 7.5vw, 100% 100%, 0 100%);
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
}
.body .mission {
  background-color: #949ca4;
  clip-path: polygon(0 0, 100% 7.5vw, 100% 100%, 0 100%);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 1200px;
}
@media screen and (min-width: 1000px) {
  .body .mission .ctaButton {
    margin: 0;
  }
}
@media screen and (min-width: 1000px) {
  .body .mission .ctaSectionContentContainer {
    align-items: center;
  }
}
.body .mission .finalCTA {
  height: 300px;
  width: min(900px, 90%);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
}
.body .mission .finalCTA h2 {
  color: #fff5dc;
  font-size: 3rem;
  font-family: "Rubik";
  font-weight: bold;
  text-align: center;
}

/*# sourceMappingURL=Main.module.css.map */
