.header {
  display: grid;
  position: fixed;
  width: 100%;
  grid-template-columns: 60px 6fr 3fr 30px;
  justify-items: center;
  align-items: center;
  height: 60px;
  background-color: #434343;
  color: #fff5dc;
  z-index: 2;
  box-shadow: 0px 6px 10px rgba(0, 0, 0, 0.25);
  transform: translateY(-100%);
  opacity: 0;
  animation: grow 0.5s ease-out forwards;
  transform-origin: top;
}
@keyframes grow {
  to {
    opacity: 1;
    transform: translateY(0);
  }
}
.header h1 {
  font-family: "Raleway";
  justify-self: left;
  font-size: 2rem;
  margin: 0;
  padding: 0;
  font-weight: 100;
  letter-spacing: 0.25rem;
  position: relative;
}
.header a {
  font-family: "Inter";
}
.header .headerLogo {
  cursor: pointer;
}
.header .headerLinks {
  width: 400px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}
.header .headerLinksCont {
  display: flex;
  width: 100%;
  flex-direction: column;
  align-items: flex-end;
  justify-content: center;
}
.header .miniMenu {
  height: 32px;
  width: 35px;
  cursor: pointer;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.header .miniMenu .threeBarMenuActive {
  width: 0;
  position: relative;
}
.header .miniMenu .threeBarMenuActive::after {
  transform: rotate(45deg);
}
.header .miniMenu .threeBarMenuActive::before {
  transform: rotate(-45deg);
}
.header .miniMenu .threeBarMenuInactive {
  width: 25px;
}
.header .miniMenu .threeBarMenuInactive::after {
  transform: translateY(-15px) rotate(0deg);
}
.header .miniMenu .threeBarMenuInactive::before {
  transform: translateY(15px) rotate(0deg);
}
.header .miniMenu .threeBarMenu {
  background-color: #fff5dc;
  height: 2px;
  position: relative;
  transition: 0.2s all;
  transform-origin: center;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 10px;
}
.header .miniMenu .threeBarMenu::after {
  content: "";
  display: block;
  background-color: #fff5dc;
  height: 2px;
  width: 35px;
  border-radius: 10px;
  position: absolute;
  transition: 0.2s all;
}
.header .miniMenu .threeBarMenu::before {
  content: "";
  display: block;
  background-color: #fff5dc;
  height: 2px;
  width: 35px;
  border-radius: 10px;
  position: absolute;
  transition: 0.2s all;
}
.header .expandMenuActive {
  transform: translateX(100%);
}
.header .expandMenu {
  position: absolute;
  top: 100%;
  right: 0;
  background-color: #434343;
  width: min(600px, 100%);
  min-height: calc(100vh - 60px);
  padding: 0;
  margin: 0;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: space-between;
  transition: 0.2s all ease;
  border-top: 1px solid gray;
  box-shadow: 0px 6px 10px rgba(0, 0, 0, 0.25);
}
.header .expandMenu div {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
}
.header .expandMenu div:hover {
  color: rgba(255, 245, 220, 0.5);
}
.header .expandMenu a {
  margin: 15px;
  margin-left: 30px;
  font-size: 3rem;
  text-align: left;
  position: relative;
  z-index: 1;
  transition: 0.2s all;
}
.header .expandMenu a:hover {
  color: #fff5dc;
  transform: translateX(15px);
}
.header .expandMenu .signin {
  margin-bottom: 30px;
}

.body {
  position: absolute;
  top: 70px;
  width: 100%;
  z-index: -1;
  text-align: right;
}
@media screen and (max-width: 1000px) {
  .body .mission, .body .community, .body .accountable, .body .educated {
    height: unset;
  }
  .body .mission div, .body .community div, .body .accountable div, .body .educated div {
    align-items: center;
  }
}
@keyframes slideInTitle {
  to {
    transform: translate(0);
    opacity: 1;
  }
}
.body .bodyText {
  font-family: "Archivo";
  color: black;
  font-size: 1.1rem;
  padding: 20px;
  line-height: 1.5;
  transform: translateX(-100px);
  animation: slideInTitle 0.5s 0.2s ease-out forwards;
}
.body .ctaButton {
  padding: 3rem;
  padding-top: 0.75rem;
  padding-bottom: 0.75rem;
  margin: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #424242;
  color: #fff5dc;
  border-radius: 7px;
  font-size: 2rem;
  font-family: "IBM Plex Sans";
  font-weight: bold;
  transition: 0.2s all ease;
  text-align: center;
  transform-origin: center;
  opacity: 0;
  animation: ctaButtonAppear 0.5s 0.3s ease-out forwards;
}
@media screen and (max-width: 1000px) {
  .body .ctaButton {
    margin-bottom: 20px;
  }
}
.body .ctaButton:hover {
  background-color: #383838;
  filter: drop-shadow(0px 0px 10px rgba(0, 0, 0, 0.25));
  transform: translateY(-10px);
}
@keyframes ctaButtonAppear {
  to {
    opacity: 1;
  }
}
.body .titlePage {
  height: 800px;
  min-height: 90vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
@media screen and (max-width: 1000px) {
  .body .titlePage {
    flex-direction: column;
  }
}
.body .titlePage img {
  width: min(700px, 80vw);
  opacity: 0;
  transform: translateY(5%);
  animation: imageAppear 0.5s ease-out forwards;
}
@keyframes imageAppear {
  to {
    opacity: 1;
    transform: translateY(0);
  }
}
.body .titlePage .titlePageTextCont {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  justify-content: space-between;
  text-align: right;
  height: 450px;
}
@media screen and (max-width: 1000px) {
  .body .titlePage .titlePageTextCont {
    align-items: center;
    text-align: center;
    padding-bottom: 30px;
  }
}
.body .titlePage .titlePageTextCont .titlePageTextContInner {
  margin-top: 40px;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  justify-content: center;
}
.body .titlePage .titlePageTextCont .titlePageTextContInner p {
  font-family: "Raleway";
  margin: 5px;
  letter-spacing: 0.15rem;
  width: 100%;
  padding: 20px;
  margin-top: 0;
  margin-bottom: 0;
  padding-top: 0;
  padding-bottom: 0;
}
.body .titlePage .titlePageTextCont .titlePageTextContInner .titleSecondary {
  font-size: 2rem;
  opacity: 0;
  transform: translate(-100px, 0);
  animation: slideInTitle 0.5s ease-out forwards;
}
.body .titlePage .titlePageTextCont .titlePageTextContInner .titlePrimary {
  font-size: 2.5rem;
  font-weight: bold;
  color: #195f0e;
  opacity: 0;
  transform: translate(-100px, 0);
  animation: slideInTitle 0.5s 0.1s ease-out forwards;
}
.body .community {
  height: 1000px;
  background-color: #27641e;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: relative;
}
@media screen and (max-width: 1000px) {
  .body .community {
    height: min-content;
  }
}
.body .community .triOne {
  background-color: #88b2e1;
}
.body .community .triTwo {
  background-color: #bcc4cc;
}
.body .community .triThree {
  background-color: #a8b0b8;
}
.body .community .triFour {
  background-color: #949ca4;
}
.body .community .ctaButton {
  margin: 0;
}
.body .content {
  width: min(90%, 1100px);
  padding: 20px;
  height: min-content;
}
@media screen and (max-width: 1000px) {
  .body .content {
    padding-top: 0;
    margin-top: 0;
    padding-bottom: 0;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
    padding-top: 20px;
    padding-bottom: 20px;
  }
  .body .content h1 {
    text-align: left;
    width: 100%;
    padding-bottom: 2rem;
  }
  .body .content .ctaSectionContentContainer {
    padding: 2rem 0;
    height: unset;
  }
}
.body .content h1 {
  text-align: left;
  padding: 25px;
  font-size: min(3rem, 8vw);
  letter-spacing: 0.2rem;
  padding-top: 20px;
  padding-bottom: 20px;
  margin: 0;
}
.body .ctaSectionContentContainer {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  height: 450px;
  padding-top: 3rem;
}
@media screen and (max-width: 1000px) {
  .body .ctaSectionContentContainer {
    flex-direction: column;
    justify-content: space-between;
    height: 80%;
  }
}
.body .ctaSectionContentContainer img {
  width: min(500px, 90vw);
  border: 2px solid #fff5dc;
  border-radius: 5px;
  box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.25);
  height: 100%;
  animation: bob 2s ease-in-out alternate infinite;
  box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.25);
  background-image: url("./images/leaves-pattern.png");
  background-size: 250px;
}
@media screen and (max-width: 1000px) {
  .body .ctaSectionContentContainer img {
    width: 60%;
  }
}
@keyframes bob {
  from {
    transform: translateY(-5px);
  }
  to {
    transform: translateY(5px);
  }
}
.body .ctaSectionTitle {
  color: #fff5dc;
  font-family: "Inter";
  font-weight: bold;
  border-left: 2px solid #fff5dc;
}
.body .ctaSectionContent {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
  height: 100%;
  width: min(95%, 600px);
}
@media screen and (max-width: 1000px) {
  .body .ctaSectionContent {
    align-items: center;
    padding-bottom: 4rem;
  }
}
.body .ctaSectionContent strong {
  color: #1c1c1c;
  font-weight: bold;
}
.body .ctaSectionContent div {
  flex-direction: column;
  display: flex;
  align-items: flex-start;
  padding-bottom: 2rem;
  width: min(100%, 500px);
  padding-right: 1rem;
}
@media screen and (max-width: 1000px) {
  .body .ctaSectionContent div {
    padding-bottom: 0;
    padding-right: 0;
  }
}
.body .ctaSectionContent div p {
  text-align: left;
  color: #fff5dc;
  font-family: "Archivo";
  padding: 0;
  line-height: 1.8;
  font-size: 1rem;
}
.body .accountable {
  background-color: #7d5722;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: relative;
  height: 1000px;
}
@media screen and (max-width: 1000px) {
  .body .accountable {
    height: min-content;
  }
}
.body .accountable .triOne {
  background-color: #88b2e1;
}
.body .accountable .triTwo {
  background-color: #bcc4cc;
}
.body .accountable .triThree {
  background-color: #a8b0b8;
}
.body .accountable .triFour {
  background-color: #949ca4;
}
@media screen and (min-width: 1000px) {
  .body .accountable .ctaSectionContentContainer {
    align-items: center;
  }
}
@media screen and (min-width: 1000px) {
  .body .accountable .ctaButton {
    margin: 0;
  }
}
.body .educated {
  background-color: #88b2e1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: relative;
  height: 1000px;
}
@media screen and (max-width: 1000px) {
  .body .educated {
    height: min-content;
  }
}
.body .educated .triOne {
  background-color: #88b2e1;
}
.body .educated .triTwo {
  background-color: #bcc4cc;
}
.body .educated .triThree {
  background-color: #a8b0b8;
}
.body .educated .triFour {
  background-color: #949ca4;
}
@media screen and (min-width: 1000px) {
  .body .educated .ctaButton {
    margin: 0;
  }
}
@media screen and (min-width: 1000px) {
  .body .educated .ctaSectionContentContainer {
    align-items: center;
  }
}
.body .mission {
  background-color: #949ca4;
  position: relative;
  z-index: -1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 1200px;
}
@media screen and (max-width: 1000px) {
  .body .mission {
    justify-content: center;
    height: min-content;
    padding-bottom: 100px;
  }
}
@media screen and (max-width: 1000px) {
  .body .mission .ctaSectionContentContainer {
    align-items: center;
    justify-content: center;
    height: min-content;
  }
}
.body .mission .ctaSectionContent {
  flex-direction: row;
  width: 100%;
  justify-content: space-between;
  padding-top: 1rem;
}
@media screen and (max-width: 1000px) {
  .body .mission .ctaSectionContent {
    flex-direction: column;
  }
}
.body .mission .ctaSectionContent img {
  width: min(500px, 90vw);
  border: 2px solid #fff5dc;
  border-radius: 5px;
  box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.25);
  height: 100%;
}
@media screen and (max-width: 1000px) {
  .body .mission .ctaSectionContent img {
    width: 60%;
  }
}
.body .mission .finalCTA {
  width: min(900px, 90%);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  padding-bottom: 10rem;
}
@media screen and (max-width: 1000px) {
  .body .mission .finalCTA {
    padding-bottom: 0;
  }
}
.body .mission .finalCTA h2 {
  color: #fff5dc;
  font-size: 3rem;
  font-family: "Raleway";
  font-weight: bold;
  text-align: center;
}
.body .transitionCont {
  height: min(400px, 20vw);
  width: 100%;
  position: relative;
  transform: scale(1.05);
  z-index: 2;
  padding: 0 2rem;
}
.body .transitionCont div {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
}
.body .transitionCont .tranStart {
  clip-path: polygon(0 0, 100% 0, 100% 41%, 0 1%);
}
.body .transitionCont .tranSecond {
  clip-path: polygon(0 0, 100% 40%, 100% 71%, 0 31%);
  filter: drop-shadow(0 0 10px 10px black);
}
.body .transitionCont .tranThird {
  clip-path: polygon(0 30%, 100% 70%, 100% 100%, 99% 100%, 0 61%, 0 60%);
}
.body .transitionCont .tranEnd {
  clip-path: polygon(0 60%, 100% 100%, 0% 100%);
}

.footer {
  background-color: #fff5dc;
  height: min-content;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 2;
  box-shadow: 0px 0px 5px 5px rgba(0, 0, 0, 0.15);
}
@media screen and (max-width: 1000px) {
  .footer {
    height: unset;
  }
}
.footer .footerInnerCont {
  display: flex;
  width: min(100%, 600px);
  flex-direction: column;
  justify-content: space-evenly;
  align-items: flex-start;
  height: 100%;
  padding-top: 2rem;
  padding-bottom: 2rem;
}
@media screen and (max-width: 1000px) {
  .footer .footerInnerCont {
    align-items: center;
  }
}
.footer .footerLinkMainCont {
  width: min(100%, 600px);
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  height: min-content;
  padding-bottom: 1rem;
  padding-top: 1rem;
}
@media screen and (max-width: 1000px) {
  .footer .footerLinkMainCont {
    flex-direction: column;
    align-items: center;
  }
}
.footer .footerLinkMainCont p, .footer .footerLinkMainCont a {
  font-family: "Archivo";
  text-align: center;
  font-size: 1rem;
  color: black;
  margin: 0;
}
.footer p, .footer a {
  font-family: "Archivo";
  text-align: center;
  font-size: 1rem;
  color: black;
  margin: 0;
}
.footer .footerTag {
  color: black;
  padding: 5px;
}
@media screen and (max-width: 1000px) {
  .footer .footerTag {
    align-items: center;
  }
}
.footer .footerCont {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  padding: 10px;
  width: 100%;
}
.footer .footerCont:hover a {
  color: #666666;
}
@media screen and (max-width: 1000px) {
  .footer .footerCont {
    align-items: center;
  }
}
.footer .footerCont h1 {
  font-family: "Inter";
  margin: 0;
  font-size: 1.2rem;
  padding: 3px;
  margin: 5px;
  color: #434343;
  font-weight: normal;
}
.footer .footerCont .footerLink {
  margin: 5px;
  padding: 3px;
  position: relative;
  z-index: 1;
  font-size: 0.8rem;
}
.footer .footerCont .footerLink:hover {
  color: black;
  text-decoration: underline;
}
.footer .footerTitle {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 5px;
}
.footer .footerTitle h1 {
  padding: 0;
  margin: 0;
  font-size: 2rem;
  font-family: "Raleway";
  letter-spacing: 0.25rem;
  padding-left: 10px;
  color: #434343;
}

/*# sourceMappingURL=Main.module.css.map */
