.header {
    display: grid;
    position: fixed;
    width: 100%;
    grid-template-columns: 70px 6fr 3fr 30px;
    justify-items: center;
    align-items: center;
    height: 70px;
    background-color: #434343;
    color: #fff5dc;
    box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.5);

    h1 {
        font-family: 'Rubik';
        justify-self: left;
        font-size: 2rem;
        margin: 0;
        padding: 0;
        font-weight: 100;
        letter-spacing: 0.5rem;
    }

    a {
        font-family: 'Inter';
    }

    .headerLogo {
        cursor: pointer;
    }

    .headerLinks {
        width: 400px;
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-between;
    }

    .headerLinksCont {
        display: flex;
        width: 100%;
        flex-direction: column;
        align-items: flex-end;
        justify-content: center;
    }

    .miniMenu {
        height: 32px;
        width: 35px;
        cursor: pointer;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;

        .threeBarMenuActive {
            width: 0;
            position: relative;

            &::after {
                transform: rotate(45deg);
            }

            &::before {
                transform: rotate(-45deg);
            }
        }

        .threeBarMenuInactive {
            width: 25px;
            
            &::after {
                transform: translateY(-15px) rotate(0deg);
            }

            &::before {
                transform: translateY(15px) rotate(0deg);
            }
        }

        .threeBarMenu {
            background-color: #fff5dc;
            height: 2px;
            position: relative;
            transition: 0.2s all;
            transform-origin: center;
            display: flex;
            justify-content: center;
            align-items: center;
            border-radius: 10px;
    
            &::after {
                content: '';
                display: block;
                background-color: #fff5dc;
                height: 2px;
                width: 35px;
                border-radius: 10px;
                position: absolute;
                transition: 0.2s all;
            }
    
            &::before {
                content: '';
                display: block;
                background-color: #fff5dc;
                height: 2px;
                width: 35px;
                border-radius: 10px;
                position: absolute;
                transition: 0.2s all;
            }
        }
    }

    .expandMenuActive {
        transform: translateX(100%);
    }

    .expandMenu {
        position: absolute;
        top: 100%;
        right: 0;
        background-color: #434343;
        width: min(600px, 100%);
        min-height: calc(100vh - 70px);
        padding: 0;
        margin: 0;
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        justify-content: space-between;
        transition: 0.2s all ease;
        border-top: 1px solid gray;

        div {
            display: flex;
            flex-direction: column;
            align-items: flex-start;
            justify-content: center;
        }

        a {
            margin: 15px;
            margin-left: 30px;
            font-size: 3rem;
            text-align: left;
            position: relative;
            z-index: 1;
            transition: 0.2s all;

            &:hover {
                transform: translateX(10px);

                &::after {
                    transform: rotate(45deg);
                    opacity: 1;
                }
            }

            &::after {
                transition: 0.2s all ease;
                content: '';
                left: calc(100% + 15px);
                top: calc(60% - 10px);
                width: 10px;
                height: 10px;
                background-image: url('./images/arrow.svg');
                position: absolute;
                display: block;
                transform: rotate(45deg);
                opacity: 0;
            }
        }

        .signin {
            margin-bottom: 30px;
        }
    }
}

.body {
    position: absolute;
    top: 70px;
    width: 100%;
    z-index: -1;
    text-align: right;

    .bodyText {
        font-family: 'IBM Plex Sans';
        color: black;
        font-size: 1.1rem;
        padding: 20px;
    }

    .ctaButton {
        padding: 3rem;
        padding-top: 0.75rem;
        padding-bottom: 0.75rem;
        display: flex;
        align-items: center;
        justify-content: center;
        background-color: #424242;
        color: #fff5dc;
        border-radius: 7px;
        font-size: 2rem;
        font-family: 'IBM Plex Sans';
        font-weight: bold;
        transition: 0.2s all ease;

        &:hover {
            background-color: #292929;
        }
    }

    .titlePage {
        height: 800px;
        display: flex;
        justify-content: center;
        align-items: center;

        @media screen and (max-width: 1000px) {
            flex-direction: column;
        }

        .titlePageTextCont {
            display: flex;
            flex-direction: column;
            align-items: flex-end;
            justify-content: space-between;
            text-align: right;

            height: 400px;

            @media screen and (max-width: 1000px) {
                align-items: center;
                text-align: center;
                padding-bottom: 30px;
            }

            .titlePageTextContInner {
                margin-top: 40px;
                display: flex;
                flex-direction: column;
                align-items: flex-end;
                justify-content: center;

                p {
                    font-family: 'Rubik';
                    margin: 5px;
                    letter-spacing: 0.15rem;
                    width: 100%;
                    padding: 20px;

                    margin-top: 0; margin-bottom: 0;
                    padding-top: 0; padding-bottom: 0;
                }
        
                .titleSecondary {
                    font-size: 2rem;
                }

                .titlePrimary {
                    font-size: 2.5rem;
                    font-weight: bold;
                    color: #195f0e;
                }
            }
        }
    }

    .communityOuterCont {
        background-color: #88ce7d;
        height: calc(1200px + 10vw);
        clip-path: polygon(0 0, 100% 10vw, 100% 100%, 0 100%);

        display: flex;
        flex-direction: column;
        justify-content: flex-end;
    }

    .communityInnerCont {
        background-color: #469838;
        height: calc(1200px + 5vw);
        clip-path: polygon(0 0, 100% 10vw, 100% 100%, 0 100%);
        display: flex;
        flex-direction: column;
        justify-content: flex-end;
    }

    .community {
        height: 1200px;
        background-color: #195f0e;

        clip-path: polygon(0 0, 100% 10vw, 100% 100%, 0 100%);

        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .content {
        width: min(90%, 1000px);
        padding: 20px;

        h1 {
            text-align: left;
            padding: 25px;
            font-size: 3rem;
            letter-spacing: 0.2rem;
            padding-top: 20px;
            padding-bottom: 20px;
        }
    }

    .ctaSectionContentContainer {
        display: flex;
        flex-direction: row;
    }

    .ctaSectionTitle {
        color: #fff5dc;
        font-family: 'Inter';
        font-weight: bold;
        border-left: 2px solid #fff5dc;
    }

    .ctaSectionContent {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: flex-start;

        div {
            flex-direction: column;
            display: flex;
            align-items: flex-start;
            justify-content: space-evenly;
            padding-bottom: 4rem;
            width: min(100%, 600px);

            p {
                text-align: left;
                color: #fff5dc;
                font-family: 'IBM Plex Sans';
                padding: 0;
                line-height: 1.8;
                font-size: 1rem;
            }
        }
    }
}