.header {
    display: grid;
    position: fixed;
    width: 100%;
    grid-template-columns: 70px 6fr 3fr 30px;
    justify-items: center;
    align-items: center;
    height: 70px;
    background-color: #434343;
    color: #fff5dc;
    z-index: 2;
    box-shadow: 0px 6px 10px rgba(0, 0, 0, 0.5);

    h1 {
        font-family: 'Rubik';
        justify-self: left;
        font-size: 2rem;
        margin: 0;
        padding: 0;
        font-weight: 100;
        letter-spacing: 0.5rem;
    }

    a {
        font-family: 'Inter';
    }

    .headerLogo {
        cursor: pointer;
    }

    .headerLinks {
        width: 400px;
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-between;
    }

    .headerLinksCont {
        display: flex;
        width: 100%;
        flex-direction: column;
        align-items: flex-end;
        justify-content: center;
    }

    .miniMenu {
        height: 32px;
        width: 35px;
        cursor: pointer;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;

        .threeBarMenuActive {
            width: 0;
            position: relative;

            &::after {
                transform: rotate(45deg);
            }

            &::before {
                transform: rotate(-45deg);
            }
        }

        .threeBarMenuInactive {
            width: 25px;
            
            &::after {
                transform: translateY(-15px) rotate(0deg);
            }

            &::before {
                transform: translateY(15px) rotate(0deg);
            }
        }

        .threeBarMenu {
            background-color: #fff5dc;
            height: 2px;
            position: relative;
            transition: 0.2s all;
            transform-origin: center;
            display: flex;
            justify-content: center;
            align-items: center;
            border-radius: 10px;
    
            &::after {
                content: '';
                display: block;
                background-color: #fff5dc;
                height: 2px;
                width: 35px;
                border-radius: 10px;
                position: absolute;
                transition: 0.2s all;
            }
    
            &::before {
                content: '';
                display: block;
                background-color: #fff5dc;
                height: 2px;
                width: 35px;
                border-radius: 10px;
                position: absolute;
                transition: 0.2s all;
            }
        }
    }

    .expandMenuActive {
        transform: translateX(100%);
    }

    .expandMenu {
        position: absolute;
        top: 100%;
        right: 0;
        background-color: #434343;
        width: min(600px, 100%);
        min-height: calc(100vh - 70px);
        padding: 0;
        margin: 0;
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        justify-content: space-between;
        transition: 0.2s all ease;
        border-top: 1px solid gray;
        box-shadow: 0px 6px 10px rgba(0, 0, 0, 0.5);

        div {
            display: flex;
            flex-direction: column;
            align-items: flex-start;
            justify-content: center;

            &:hover {
                color: rgba(255, 245, 220, 0.5);
            }
        }

        a {
            margin: 15px;
            margin-left: 30px;
            font-size: 3rem;
            text-align: left;
            position: relative;
            z-index: 1;
            transition: 0.2s all;

            &:hover {
                color: #fff5dc;
                transform: translateX(15px);
            }
        }

        .signin {
            margin-bottom: 30px;
        }
    }
}

.body {
    position: absolute;
    top: 70px;
    width: 100%;
    z-index: -1;
    text-align: right;

    .mission, .community, .accountable, .educated {
        
        @media screen and (max-width: 1000px) {
            div {
                align-items: center;
            }
            height: unset;
        }
    }

    .bodyText {
        font-family: 'Archivo';
        color: black;
        font-size: 1.1rem;
        padding: 20px;
        line-height: 1.5;
    }

    .ctaButton {
        padding: 3rem;
        padding-top: 0.75rem;
        padding-bottom: 0.75rem;
        margin: 20px;
        display: flex;
        align-items: center;
        justify-content: center;
        background-color: #424242;
        color: #fff5dc;
        border-radius: 7px;
        font-size: 2rem;
        font-family: 'IBM Plex Sans';
        font-weight: bold;
        transition: 0.2s all ease;
        text-align: center;

        @media screen and (max-width: 1000px) {
            margin-bottom: 20px;
        }

        &:hover {
            background-color: #292929;
        }
    }

    .titlePage {
        height: 800px;
        display: flex;
        justify-content: center;
        align-items: center;

        @media screen and (max-width: 1000px) {
            flex-direction: column;
        }

        img {
            width: min(700px, 80vw);
            opacity: 0;
            transform: translateY(5%);
            animation: imageAppear 0.5s ease-in-out forwards;
        }

        @keyframes imageAppear {
            to {
                opacity: 1;
                transform: translateY(0);
            }
        }

        .titlePageTextCont {
            display: flex;
            flex-direction: column;
            align-items: flex-end;
            justify-content: space-between;
            text-align: right;

            height: 450px;

            @media screen and (max-width: 1000px) {
                align-items: center;
                text-align: center;
                padding-bottom: 30px;
            }

            .titlePageTextContInner {
                margin-top: 40px;
                display: flex;
                flex-direction: column;
                align-items: flex-end;
                justify-content: center;

                p {
                    font-family: 'Rubik';
                    margin: 5px;
                    letter-spacing: 0.15rem;
                    width: 100%;
                    padding: 20px;

                    margin-top: 0; margin-bottom: 0;
                    padding-top: 0; padding-bottom: 0;
                }
        
                .titleSecondary {
                    font-size: 2rem;
                    overflow: hidden;
                    position: relative;
                    
                    &::after {
                        content: '';
                        position: absolute;
                        inset: 0;
                        background-color: #fff5dc;
                        transition: 0.3s all;
                        opacity: 1;
                        animation: appear 0.5s ease-in-out forwards;
                    }
                }

                .titlePrimary {
                    font-size: 2.5rem;
                    font-weight: bold;
                    color: #195f0e;
                    position: relative;
                    overflow: hidden;

                    &::after {
                        content: '';
                        position: absolute;
                        inset: 0;
                        background-color: #fff5dc;
                        transition: 0.3s all;
                        opacity: 1;
                        animation: appear 0.5s ease-in-out forwards;
                    }
                }

                @keyframes appear {
                    to {
                        opacity: 0.1;
                        transform: translateX(100%);
                    }
                }
            }
        }
    }

    .community {
        height: 1000px;
        background-color: #195f0e;
    
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        position: relative;
    
        .triOne {
            background-color: #88b2e1;
        }
    
        .triTwo {
            background-color: #bcc4cc;
        }
    
        .triThree {
            background-color: #a8b0b8;
        }
        
        .triFour {
            background-color: #949ca4;
        }
    
        .ctaButton {
            margin: 0;
        }
    }

    .content {
        width: min(90%, 1200px);
        padding: 20px;
        height: min-content;
    
        @media screen and (max-width: 1000px) {
            padding-top: 0;
            margin-top: 0;
            height: 100%;
        }
    
        img {
            width: 400px;
        }
    
        h1 {
            text-align: left;
            padding: 25px;
            font-size: min(3rem, 8vw);
            letter-spacing: 0.2rem;
            padding-top: 20px;
            padding-bottom: 20px;
        }
    }

    .ctaSectionContentContainer {
        display: flex;
        flex-direction: row;
        height: 450px;

        @media screen and (max-width: 1000px) {
            flex-direction: column;
            height: 80%;
        }
    }

    .ctaSectionTitle {
        color: #fff5dc;
        font-family: 'Inter';
        font-weight: bold;
        border-left: 2px solid #fff5dc;
    }

    .ctaSectionContent {
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
        align-items: flex-start;

        width: min(95%, 600px);

        @media screen and (max-width: 1000px) {
            align-items: center;
        }

        strong {
            color: #1c1c1c;
            font-weight: bold;
        }

        div {
            flex-direction: column;
            display: flex;
            align-items: flex-start;
            justify-content: space-evenly;
            padding-bottom: 4rem;
            width: min(100%, 500px);

            p {
                text-align: left;
                color: #fff5dc;
                font-family: 'Archivo';
                padding: 0;
                line-height: 1.8;
                font-size: 1rem;
            }
        }
    }

    .accountable {
        background-color: #7d5722;
    
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        position: relative;
    
        height: 1000px;
    
        .triOne {
            background-color: #88b2e1;
        }
    
        .triTwo {
            background-color: #bcc4cc;
        }
    
        .triThree {
            background-color: #a8b0b8;
        }
        
        .triFour {
            background-color: #949ca4;
        }
    
        .ctaSectionContentContainer {
            
            @media screen and (min-width: 1000px) {
                align-items: center;
            }
        }
    
        .ctaButton {
            
            @media screen and (min-width: 1000px) {
                margin: 0;
            }
        }
    }

    .educated {
        background-color: #88b2e1;
    
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        position: relative;
    
        height: 1000px;
    
        @media screen and (max-width: 1000px) {
            height: unset;
        }
    
        .triOne {
            background-color: #88b2e1;
        }
    
        .triTwo {
            background-color: #bcc4cc;
        }
    
        .triThree {
            background-color: #a8b0b8;
        }
        
        .triFour {
            background-color: #949ca4;
        }
    
        .ctaButton {
            
            @media screen and (min-width: 1000px) {
                margin: 0;
            }
        }
    
        .ctaSectionContentContainer {
            
            @media screen and (min-width: 1000px) {
                align-items: center;
            }
        }
    }

    .mission {
        background-color: #949ca4;
        position: relative;

        z-index: -1;

        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;

        height: 1500px;

        @media screen and (max-width: 1000px) {
            justify-content: center;
            height: 1600px;
            padding-bottom: 200px;
        }

        .ctaSectionContentContainer {
            
            @media screen and (max-width: 1000px) {
                align-items: center;
                justify-content: center;
                height: min-content;
            }
        }

        .ctaSectionContent {
            flex-direction: row;
            width: 100%;

            @media screen and (max-width: 1000px) {
                flex-direction: column;
            }
        }

        .finalCTA {
            width: min(900px, 90%);
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: space-between;
            padding-bottom: 10rem;

            @media screen and (max-width: 1000px) {
                padding-bottom: 0;
            }

            h2 {
                color: #fff5dc;
                font-size: 3rem;
                font-family: 'Rubik';
                font-weight: bold;
                text-align: center;
            }
        }
    }

    .transitionCont {
        height: min(400px, 20vw);
        width: 100%;
        position: relative;
        transform: scale(1.05);
        z-index: 2;
        padding: 0 2rem;
    
        div {
            position: absolute;
            top: 0; left: 0; bottom: 0; right: 0;
        }
    
        .tranStart {
            // clip-path: polygon(0 1%, 100% 21%, 100% 0, 0 0);
    
            // clip-path: polygon(0 1%, 100% 31%, 100% 0, 0 0);
    
            clip-path: polygon(0 0, 100% 0, 100% 41%, 0 1%);
        }
    
        .tranSecond {
            // clip-path: polygon(0 0, 100% 20%, 100% 60%, 0 40%);
    
            // clip-path: polygon(0 0, 100% 30%, 100% 66%, 0 36%);
    
            clip-path: polygon(0 0, 100% 40%, 100% 71%, 0 31%);
        }
    
        .tranThird {
            // clip-path: polygon(0 39%, 100% 59%, 100% 100%, 0 80%);
    
            // clip-path: polygon(0 35%, 100% 68%, 100% 100%, 0 69%);
    
            clip-path: polygon(0 30%, 100% 70%, 100% 100%, 99% 100%, 0 61%, 0 60%);
        }
    
        .tranEnd {
            // clip-path: polygon(0 79%, 100% 99%, 100% 100%, 0% 100%);
    
            // clip-path: polygon(0 69%, 100% 99%, 100% 100%, 0 100%);
    
            clip-path: polygon(0 60%, 100% 100%, 0% 100%);
        }
    } 
}

.footer {
    background-color: #fff5dc;
    height: min-content;

    display: flex;
    align-items: center;
    justify-content: center;

    z-index: 2;

    box-shadow: 0px 0px 5px 5px rgba(0, 0, 0, 0.15);

    @media screen and (max-width: 1000px) {
        height: 600px;
    }

    .footerInnerCont {
        display: flex;
        width: min(100%, 600px);
        flex-direction: column;
        justify-content: space-evenly;
        align-items: flex-start;
        height: 100%;
        padding-top: 2rem;
        padding-bottom: 2rem;

        @media screen and (max-width: 1000px) {
            align-items: center;
        }
    }

    .footerLinkMainCont {
        width: min(100%, 600px);
        display: flex;
        flex-direction: row;
        align-items: flex-start;
        justify-content: flex-start;
        height: min-content;
        
        padding-bottom: 1rem;
        padding-top: 1rem;

        @media screen and (max-width: 1000px) {
            flex-direction: column;
            align-items: center;
        }

        p, a {
            font-family: 'Archivo';
            text-align: center;
            font-size: 1rem;
            color: black;
            margin: 0;
        }

        &:hover {
            a {
                color: #666666;
            }
        }
    }

    p, a {
        font-family: 'Archivo';
        text-align: center;
        font-size: 1rem;
        color: black;
        margin: 0;
    }

    .footerTag {
        color: black;

        padding: 5px;

        @media screen and (max-width: 1000px) {
            align-items: center;
        }
    }

    .footerCont {
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: flex-start;
        padding: 10px;
        width: 100%;

        @media screen and (max-width: 1000px) {
            align-items: center;
        }

        h1 {
            font-family: 'Inter';
            margin: 0;
            font-size: 1.2rem;
            padding: 3px;
            margin: 5px;
            color: #434343;
            font-weight: normal;
        }

        .footerLink {
            margin: 5px;
            padding: 3px;
            position: relative;
            z-index: 1;
            font-size: 0.8rem;

            &:hover {
                color: black;
                text-decoration: underline;
            }
        }
    }

    .footerTitle {
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;

        padding: 5px;

        h1 {
            padding: 0;
            margin: 0;
            font-size: 2rem;
            font-family: 'Rubik';
            letter-spacing: 0.5rem;
            padding-left: 10px;
            color: #434343;
        }
    }
}
